<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <title>Url Shortening by Mike</title>
</head>
<body>
    <div class="url_form center">
        <form action="{{ url_for('index') }}" method="POST">
            <input type="url" name="long_url" placeholder="Enter the longform url"/>
            <button type="submit">Shorten</button>
        </form>
    </div>
    {% if short_url %}
    <div class="short_url centerh">
        <h2><a href="{{url_root}}{{ short_url }}" target="_blank">{{url_root}}{{ short_url }}</a></h2>
    </div>
    {% endif %}
</body>
</html>