<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Url Shortening by Mike</title>
</head>
<body>
    <div class="url_form">
        <form action="{{ url_for('index') }}" method="POST">
            <label for="long_url">Url:</label>
            <input type="url" name="long_url" placeholder="Enter the longform url"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    {% if short_url %}
    <div class="short_url">
        <h4>Your url:</h4>
        <h2><a href="{{url_root}}{{ short_url }}">{{url_root}}{{ short_url }}</a></h2>
    </div>
    {% endif %}
</body>
</html>